header {
    text-align:center;

}


h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E6FFF8;

  }

  h2 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #087565;

  }

  .intro {
    position: absolute;
    top:800px;
    right: 550px;


  }
  
  .banner {
    position: relative;
  }



aside {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E6FFF8;
    background-color: #4FAA98;

}

article {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E6FFF8;
    background-color: #4FAA98;


}

footer {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E6FFF8;
    background-color: #4FAA98;
    padding: ;
    border: ;
    margin: ;



}

.navbar {

  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

nav {

  background: #333;

}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #E6FFF8;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

@media screen and (min-width: 768px) {

    nav ul {
      display: flex;
    }

    nav li {
      flex: 1 1 0;
    }
    }




}


#skills {



}


.conntent .education_box {
  position: relative;
  padding: 40px;
}

.conntent .experience_box {
  position: relative;
  padding: 40px;
}



.content {

    position: ;
    padding-left: 50px;
    margin-left: 150px;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

